
<div class="footcont down">
  <div class="container toprel">
    <div class="autocont vcenter pull-left">
      <div class="tabcell">
        <img class="footlogo nopointer" width="100%" src="assets/images/foot-logo.png">
      </div>
    </div>

    <div class="autocont vcenter pull-left">
      <div class="tabcell">

        <!--
        {{vm.footerMenu.copyright}} {{vm.date | date:'yyyy'}}
        -->
        Todos los derechos reservados, Claro 2021
      </div>
    </div>
  </div>
</div>
