.alertify {
	background: #ffffff;
    line-height: 20px;
    border-radius: 20px;
	box-shadow: 2px 4px 10px 6px rgba(0, 0, 0, 0.3);
}

	.alertify-button {
		border-radius: 4px;
		color: #fff;
		font-family: Arial;
        font-size: 16px;
        font-weight: bold;
		padding: 5px 10px 5px 10px;
		text-decoration: none;
        background: linear-gradient(to bottom, #abadad 0%, #797b7b 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
		background-image: -webkit-linear-gradient(to bottom, #abadad 0%, #797b7b 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
		background-image:    -moz-linear-gradient(to bottom, #abadad 0%, #797b7b 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
		background-image:     -ms-linear-gradient(to bottom, #abadad 0%, #797b7b 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
		background-image:      -o-linear-gradient(to bottom, #abadad 0%, #797b7b 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
		background-image:         linear-gradient(to bottom, #abadad 0%, #797b7b 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	}

	.alertify-button::after  { display: inline-block;margin-left:5px; }



	.alertify-button:hover {
		background: #d52b1e;
	}
	.alertify-button:active {

	}
	.alertify-button-cancel
	{
	    background: #7e8080;
        background: -moz-linear-gradient(top, #a9abab 0%, #7e8080 100%);
        background: -ms-linear-gradient(top, #a9abab 0%, #7e8080 100%);
        background: -o-linear-gradient(top, #a9abab 0%, #7e8080 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9abab), color-stop(100%, #7e8080));
        background: -webkit-linear-gradient(top, #a9abab 0%, #7e8080 100%);
        background: linear-gradient(to bottom, #a9abab 0%, #7e8080 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9abab', endColorstr='#7e8080', GradientType=0 );
	 }
		.alertify-button-cancel,
		.alertify-button-cancel:hover,
		.alertify-button-cancel:focus {

		}
		.alertify-button-ok
		{
		    color:#fff;
		    font-size:16px;
		    font-family:Arial;
		    font-weight:bold;
			background: #d52b1e;
            background: -moz-linear-gradient(top, #d52b1e 0%, #901a11 100%);
            background: -ms-linear-gradient(top, #d52b1e 0%, #901a11 100%);
            background: -o-linear-gradient(top, #d52b1e 0%, #901a11 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d52b1e), color-stop(100%, #901a11));
            background: -webkit-linear-gradient(top, #d52b1e 0%, #901a11 100%);
            background: linear-gradient(to bottom, #d52b1e 0%, #901a11 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d52b1e', endColorstr='#901a11', GradientType=0 );
		}
        .alertify-button-ok:hover
		{
		    background: #d52b1e;
		}
	.alertify-log-error {
		background: #FE1A00;
		background: rgba(254,26,0,.9);
	}
	.alertify-log-success {

	}

.alertify-dialog nav
{
    width:445px !important;
    line-height: 20px;
    box-shadow:none !important;
    background: #fff !important;
}
.alertify-message
{
    font-size:18px;
    font-family:Arial;
    font-weight:bold;
    color:#000;
		padding-bottom: 20px;
}
