<div class="popupbg">
<!--    <div class="popupcont morew">-->
        <div class="basicrow text-center">
            <img class="bigclarogif" src="assets/images/claroloadgif.gif"/>

<!-- ---------- DESCOMENTAR DIV PARA QUE SE MIRE EL TEXTO BAJO EL LOADING -->
<!--            <div class="basicrow m-top-i text-center text-info">-->
<!--                Procesando la información-->
<!--            </div>-->
<!-- ----------- -->
        </div>

<!--        <div class="basicrow f-bmed f-black roboto-r">-->
<!--            <div class="row">-->
<!--                <div-->
<!--                    class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">-->
<!--                    <div class="basicrow m-top-i text-center">-->
<!--                        <img width="100%" class="loadongoin" src="assets/images/gload.gif"/>-->
<!--                        Procesando la información-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
