.popupbg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    .bigclarogif {
        width: 64px;
        height: 64px;
    }

    .text-info {
        font-family: 'Roboto', Arial, sans-serif;
        font-weight: 400;
        color: #111111;
        font-size: 20px;
        text-shadow: 3px 3px 6px #ffffff;
    }
}
